body {
    background-color: #000;
    color: #F0EDCF;
    margin: 0;
}

.container {
    display: flex;
    height: 97vh;
    overflow: hidden;
}

.nav-container {
    display: relative;
}

nav {
    margin: 0 50px;
}

.breadcrumb-item.active {
    color: #747474 !important;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 1rem;
    padding-bottom: .5rem;
    background-color: #1D1D1D;
    border-radius: 10px;
    width: 90%;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: 8px;
    content: '/';
    color: #747474;
}

a {
    text-decoration: none;
    color: #F0EDCF;
    margin: 0;
}

.home-button {
    border-bottom: #3A3A3A solid 1px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.highlight {
    color: #40A2D8;
}

.sidebar {
    padding-left: 20px;
    margin-right: 30px;
    padding-right: 10px;
    padding-top: 10px;
    min-width: 150px;
    background-color: #1D1D1D;
    overflow: hidden;
}

.collapsible-button {
    display: inline-flex;
    background-color: #1D1D1D;
    color: #F0EDCF;
    border: none;
    align-items: center;
    padding-left: 15px;
    height: 50px;
    max-width: 150px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.collapsible-button::before {
    content: '';
    position: relative;
    border-right: 2px solid #F0EDCF;
    border-bottom: 2px solid #F0EDCF;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -7px;
    transform: translateY(-50%) rotate(-45deg);
    transition: transform .5s, top .5s;
    margin-right: 5px;
}

.collapsible-button[aria-expanded="true"]::before {
    transform: rotate(45deg);
    top: -5px;
}

.collapsible-button:hover, .collapsible-button:focus {
    background-color: #3A3A3A;
    color: #F0EDCF;
    border-radius: .4rem;
}

.collapsible-button + div {
    margin-left: 2rem;
}

.characters.collapse:not(.show) {
    height: 0;
    width: 0;
}

.characters.collapse {
    height: 160px;
}

.technology.collapse:not(.show) {
    height: 0;
    width: 0;
}

.technology.collapse {
    height: 105px;
}

.collapse {
    height: 190px;
    overflow: hidden;
    transition: height .35s ease;
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}

.collapse:not(.show) {
    height: 0;
    width: 0;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul > li {
    margin-block-end: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 3rem;
    margin-right: 30px;
}

.category-card {
    display: flex;
    background-color: #0B60B0;
    width: 200px;
    height: 200px;
    padding: 5px;
    top: 0;
    left: 0;
    border-radius: 10%;
    align-items: flex-end;
    justify-content: center;
    transition: top .2s , left .2s;
}

.shadow {
    background-color: #1D1D1D;
    border-radius: 10%;
}

.category-card:hover {
    position: relative;
    top: -10px;
    left: -10px;
}

.category-card > h3 {
    margin: 0;
}

.hobby-icon:hover ~ .hobby-list {
    opacity: 1;
    max-height: inherit;
}

.hobby-icon {
    background-color: #40A2D8;
    color: #F0EDCF;
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.hobby-list {
    overflow: hidden;
    transition: opacity 300ms ease;
    opacity: 0;
}

.hobby-header {
    margin-bottom: 0;
    padding-bottom: 0;
}

footer {
    display: flex;
    border-top: 1px solid #F0EDCF;
    justify-content: center;
}

footer > p {
    margin: 10px;
}

footer a {
    text-decoration: underline;
    color: #0B60B0;
}

.hobby-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem 0rem 2rem;
    width: 100%;
}

.hobby-card {
    padding: 0 12px 0 12px;
    width: 20%;
}
